<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
    <style>
        body {
            display: inline-block;
        }

        .quoteBox {
            display: inline-block;
            margin-left: 200px;
        }

        .favBox {
            display: inline-block;
            margin-left: 100px;
            vertical-align: top;
        }

        .contributeBox {
            display: inline-block;
            margin-left: 100px;
            vertical-align: top;
        }
    </style>
</head>

<body>
    <h1>Hello, {{loggedinuser.name}} </h1>
    <a href="logout">Log Out</a>
    <div class="quoteBox">
        <h3>Quotable Quotes</h3>
        {% for quote in allQuotes %}
        {{quote.quoter}}:{{quote.message}}
        <p>Posted by {{quote.poster.name}}</p>
        <input type="submit" value="Add to Favorites">
        <br>
        <br>
        {% endfor %}
    </div>
    <div class="favBox">
        <h3>Your Favorites</h3>
        Favorite Quotes
        <p>Posted by a user</p>
        <input type="submit" value="Remove from Favorites">
    </div>
    <div class="contributeBox">
        <p>Contribute a Quote</p>
        
        <form action="/add_quote" method="POST">
            {% csrf_token %}
            Quoted By: <input type="text" name="quoter" id="">
            <br>
            <br>
            Message: <input type="text" name="message" id="" style="width: 200px; align-content: top;">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
        
    </div>
</body>

</html>